body{
	background-color:#CDCDCD;
}
.svg-chart-cntnr{
	background-color:#EFEFEF;
	border:1px #050505 solid;
	border-radius:5px;
	padding:20px;
	box-shadow:4px 4px 8px #050505;//<DEBUG>

}
#mainCntnr{
	margin-top:65px;
}
svg{
	display:block;
	/*background-color:#CDCDCD;*/
	border:1px #FFFFFF solid;
	box-shadow:3px 3px 6px #050505;
	min-width:100px;
	min-height:100px;
	margin-top:20px;
	/*shape-rendering:optimizeSpeed;*/
	shape-rendering:crispEdges;
}
.ERRMsg{
	padding:6px;
	background-color:#F89C9C;
	color:#740A0A;
	border:1px solid #740A0A;
	border-radius:4px;
	box-shadow: 2px 2px 6px #540505;	
	font-weight: 900;
}
.WRNMsg{
	padding:6px;
	background-color:#C17D11;
	color:#4C2012;
	border:1px solid #4C2012;
	border-radius:4px;
	box-shadow: 2px 2px 6px #3C1002;	
	font-weight: 900;	
}
.OKMsg{
	padding:6px;
	background-color:#054607;
	color:#73D216;
	border:1px solid #73D216;
	border-radius:4px;
	box-shadow: 2px 2px 6px #73D216;
	font-weight: 700;
}
.ajxERRMsg{
	padding:6px;
	background-color:#E3611F;
	color:#740A0A;
	border:1px solid #740A0A;
	border-radius:4px;
	box-shadow: 2px 2px 6px #540505;
	font-style: italic;
}
#modal-bgr{
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #050505;
	opacity: 0.75;
}
#modal-div{
	position:absolute;
	left: 250px;
	top:250px;
	z-index: 99;
	max-width:600px;
	max-height: 400px;
	overflow: scroll;
	box-shadow:4px 4px 8px #000000;
	border:#FAFAFA 4px solid;
	border-radius:8px;
}
.code{
	background-color:#050505;
	color:#FFFF88;
	font-family:"Courier New";
	font-size: 10px;
	border: 3px solid #FFFF88;
	border-radius:6px;
	padding: 4px;
}
.docm{
	font-family:"courier new";
	background-color:#DDDDFF;
	border:1px dotted #4141AA;
	padding:4px;
	margin-bottom:10px;
	box-shadow:2px 2px 3px #454566;
}
h4{
	font-weight: bold;
	text-decoration: underline;
}
.doc-closer{
	cursor: s-resize;
}


































